extends layout

block content
  main.pane.club
    if !user.isClubMember 
      h1 Join the club
      form(action="/dashboard/club/join", method="post") 
        .formControl
          label(for="secret") Club secret:  
          input#secret(type="text", name="secret", placeholder="do you know the secret code?", value=secret ? secret : '')
          - const secretError = errors && errors.find(item => item.path === 'secret')
          if secretError
            span.error= secretError.msg
          
        button.filled(type="submit") Join
        .guidelines
          span The secret is the number of my GitHub contributions in the year 2023. To join the club, you have to search for it. You can find the link to my GitHub profile somewhere on this app, but not on this page.

      +clubBenefits

    else 
      p!= 'Congratulations '+ user.fullName + ". You're now a part of the club."
      +clubBenefits
      form(action="/dashboard/club/leave", method="post")
        button.filled(type="submit") Leave the club
    