extends layout

block content
  main.pane
    .appBar
      h1 Clubcord

    if messages.length
      ol.messagesContainer 
        for message in messages
          if isClubMember
            li: +messageCardPremium(message)
          else 
            li: +messageCardBasic(message)
    else
      p.noMessages There are no messages right now.
    
    if user.isClubMember && messages.length
      +messageDeleteDialog