extends layout

block content
  h1 Forgot password
  p A code has been sent to #[b= email]. Type the code into the input below. Please don't share the code with anyone.

  form(action="/dashboard/password/forgot/code", method="post") 
    .formControl
      label(for="secret") Secret code:
      input#secret(type="text", name="secret", placeholder="secret code", required)
      if error
        span.error= error
      button(type="submit") Submit

  script.
    const form = document.querySelector('form');
    let isFormDirty = false;

    form.addEventListener('change', () => isFormDirty = true)
    form.addEventListener('submit', () => isFormDirty = false)

    window.addEventListener('beforeunload', e => { 
      if (isFormDirty) {
        e.returnValue = "Are you sure you want to leave? You haven't submitted the form.";

        return "Are you sure you want to leave? You haven't submitted the form."; // Chrome needs this second return for the message to appear
      }
    });