extends layout

block content
  main.pane.updatePassword
    h1 Update password

    - const currentPasswordError = errors && errors.find(item => item.path === 'currentPassword')
    - const newPasswordError = errors && errors.find(item => item.path === 'newPassword')
    - const passwordConfirmError = errors && errors.find(item => item.path === 'passwordConfirm')

    form(action="", method="post")
      +passwordFormControl('currentPassword', 'Current Password', 'currentPassword', currentPassword, currentPasswordError)

      +passwordFormControl('newPassword', 'New Password', 'newPassword', newPassword, newPasswordError)

      +passwordFormControl('passwordConfirm', 'Confirm New Password', 'passwordConfirm', passwordConfirm, passwordConfirmError)

      button.filled(type="submit") Submit

      a(href="/dashboard/password/forgot") Forgot Password?

    script(src="/javascripts/passwordToggle.js", defer) 
