extends layout

block content
  - const secretError = errors && errors.find(item => item.path === 'secret')

  main.pane.forgotPassword
    h1 Forgot password

    if secretError
      p The code you've entered was incorrect. Please enter the password reset code again. It is a 6 digit aplhanumeric text.
    else
      p A code has been sent to #[strong= email]. Type the code into the input below. Please don't share the code with anyone.

    form(action="/dashboard/password/forgot/code", method="post") 
      .formControl
        label(for="secret") Secret code:
        input#secret(type="text", name="secret", placeholder="a 6 digit alphanumeric string", value=secret ? secret : '')
        if secretError
          span.error= secretError.msg

        button.filled(type="submit") Submit