@import url(./designTokens.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* only styles common to all the window size classes go here */

body {
  background-color: var(--surface);
  color: var(--on-surface);
  min-height: 100vh;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

svg {
  fill: var(--on-surface);
}

/* nav styles that are common to all window size classes. 

The navigation bar and rail have a lot in common, so some styles that are common to both of them, but different in the navigation drawer are also written here. They are simply overwritten for the navigation drawer under the specific media query. */
nav {
  .headline {
    display: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      a {
        text-decoration: none;
        color: inherit;
        outline: none;

        .iconContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 16px;
          height: 32px;

          svg {
            width: 24px;
            fill: var(--on-surface-variant);

            &.regular {
              display: block;
            }
            &.filled {
              display: none;
            }
          }
        }

        span {
          font-weight: 500;
          line-height: 16px;
          font-size: 12px;
          color: var(--on-surface-variant);
        }

        &.active {
          /* in bar and rail, .iconContainer acts as the active indicator. */
          /* in drawer, `a` acts as the active indicator. */
          .iconContainer {
            background-color: var(--secondary-container);

            svg {
              fill: var(--on-secondary-container);

              &.filled {
                display: block;
              }
              &.regular {
                display: none;
              }
            }
          }

          span {
            font-weight: 700;
            color: var(--on-surface);
          }
        }

        &:is(:hover, :focus) {
          .iconContainer {
            background-color: var(--tertiary-container);
            /* background-color: var(--on-surface);
            opacity: 38%; */
          }
        }
      }
    }
  }
}

.pane {
  background-color: var(--primary-container);
}

/* compact window class */
@media (max-width: 599px) {
  nav {
    /* a bottom navigation bar */
    background-color: var(--surface-container);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 12px 0 16px;
    max-height: 80px;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      li {
        flex: 1;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 4px;

          .iconContainer {
            width: 64px;
          }
        }
      }
    }
  }

  .pane {
    padding: 16px;
    border-radius: 0;
  }
}

/* medium window size class */
@media (min-width: 600px) and (max-width: 839px) {
  nav {
    /* a left navigation rail */
    background-color: var(--surface-container);
    position: fixed;
    left: 0;
    top: 0;
    width: 80px;
    height: 100vh;
    padding: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex; /* required for centering the ul vertically  */

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
      margin: auto;

      li {
        a {
          height: 56px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 4px;

          .iconContainer {
            width: 56px;
          }
        }
      }
    }
  }

  body {
    display: flex;
    gap: 24px;
    margin-left: calc(80px + 24px); /* to offset the fixed navigation rail */
  }

  .pane {
    padding: 24px;
    border-radius: 15px;
  }
}

/* expanded window size class */
@media (min-width: 840px) and (max-width: 1199px) {
  /* 
  todo: use two panes in the body with 24px horizontal padding, the gap between the panes is also 24px
  */

  body {
    display: flex;
    gap: 24px;
  }

  .pane {
    padding: 24px;
    border-radius: 15px;
  }
}

/* standard navigation drawer is the same for expanded, large and extra large window size classes  */
@media (min-width: 840px) {
  nav {
    /* a standard navigation drawer */
    background-color: var(--surface);
    width: 360px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 24px 12px;

    .headline {
      display: block;
      line-height: 20px;
      font-size: 18px;
      font-weight: 500;
      padding: 16px;
      margin: 0;
      color: var(--primary);
      text-transform: uppercase;
    }

    ul {
      li {
        a {
          /* acts as the active indicator */
          height: 56px;
          width: 336px;
          border-radius: 28px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 12px;
          padding: 0 16px;

          .iconContainer {
            height: 100%;
          }

          span {
            font-size: 14px;
            line-height: 20px;
          }

          &.active {
            background-color: var(--secondary-container);

            span {
              color: var(--on-secondary-container);
            }
          }

          &:is(:hover, :focus) {
            background-color: var(--tertiary-container);
          }
        }
      }
    }
  }

  body {
    margin-left: calc(360px + 24px); /* to offset the fixed navigation drawer */
  }
}

/* large window size class */
@media (min-width: 1200px) and (max-width: 1599px) {
  body {
    display: flex;
    gap: 24px;
  }

  .pane {
    padding: 24px;
    border-radius: 15px;
  }
}

/* extra large window size class */
@media (min-width: 1600px) {
  body {
    display: flex;
    gap: 24px;
  }

  .pane {
    padding: 24px;
    border-radius: 15px;
  }
}
