@import url(./designTokens.css);
@import url(./components.css);
@import url(./animations.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* only styles common to all the window size classes go here */

body {
  background-color: var(--surface);
  color: var(--on-surface);
  min-height: 100vh;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

svg {
  fill: var(--on-surface);
}

img {
  max-width: 100%;

  @media (prefers-color-scheme: dark) {
    filter: brightness(0.8) contrast(1.2);
  }
}

/* nav styles that are common to all window size classes. 

The navigation bar and rail have a lot in common, so some styles that are common to both of them, but different in the navigation drawer are also written here. They are simply overwritten for the navigation drawer under the specific media query. */
nav {
  z-index: 1;

  .headline {
    display: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      a {
        text-decoration: none;
        color: inherit;
        outline: none;

        .iconContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 16px;
          height: 32px;

          svg {
            width: 24px;
            fill: var(--on-surface-variant);

            &.regular {
              display: block;
            }
            &.filled {
              display: none;
            }
          }
        }

        span {
          font-weight: 500;
          line-height: 16px;
          font-size: 12px;
          color: var(--on-surface-variant);
        }

        &.active {
          /* in bar and rail, .iconContainer acts as the active indicator. */
          /* in drawer, `a` acts as the active indicator. */
          .iconContainer {
            background-color: var(--secondary-container);

            svg {
              fill: var(--on-secondary-container);

              &.filled {
                display: block;
              }
              &.regular {
                display: none;
              }
            }
          }

          span {
            font-weight: 700;
            color: var(--on-surface);
          }
        }

        &:is(:hover, :focus) {
          .iconContainer {
            background-color: var(--tertiary-container);
            /* background-color: var(--on-surface);
            opacity: 38%; */
          }
        }
      }
    }
  }
}

.pane {
  background-color: var(--surface);
  border-radius: 12px;
  width: 100%;

  .appBar {
    h1 {
      display: block;
      text-align: center;
      line-height: 20px;
      font-size: 22px;
      font-weight: 500;
      padding: 16px;
      color: var(--primary);
      text-transform: uppercase;
    }
  }

  .noMessages {
    text-align: center;
  }

  &.compose {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    padding: 24px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .formControl {
    display: flex;
    flex-direction: column;
    gap: 2px;

    label {
      display: block;
      color: var(--primary);
      font-weight: 500;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px 15px;
      resize: vertical;
      border: none;
      border-bottom: 1px solid var(--primary);
      background-color: var(--surface-container);
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      color: inherit;

      &:focus,
      &:active {
        outline: 2px solid var(--outline);
      }
    }
  }

  .imageContainer {
    position: relative;

    img {
      border-radius: 12px;
      height: 100px;
      width: 100%;
      object-fit: cover;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    button {
      position: absolute;
      top: 10px;
      right: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    label,
    input {
      display: none;
    }
  }

  .error {
    color: var(--error);
    font-size: 14px;
    display: block;
  }

  .guidelines {
    font-size: 12px;
    color: var(--on-surface-variant);
    span {
      display: block;
    }
  }
}

.messagesContainer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid item with flexible width but a minimum of 250 pixels. */
  grid-gap: 8px;
}

.messageCard {
  position: relative;
  cursor: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: inherit;
  }

  .coverImageContainer {
    border-radius: inherit;
    img {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      height: 100px;
      width: 100%;
      object-fit: cover;
    }
  }

  .content {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .title {
      font-weight: 500;
      color: var(--primary);
    }

    .userProfile {
      display: flex;
      align-items: center;
      gap: 5px;

      img,
      svg {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        object-fit: cover;
        fill: var(--on-surface);
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    .time {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;

      svg {
        fill: var(--on-surface-variant);
        width: 20px;
      }
    }

    .buttons {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      align-items: center;
      gap: 5px;

      button {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        span {
          display: none;
        }
      }
    }
  }

  &.messageCardBasic {
    padding: 8px 16px;
  }
}

/* compact window class */
@media (max-width: 599px) {
  nav {
    /* a bottom navigation bar */
    background-color: var(--surface-container);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 12px 0 16px;
    max-height: 80px;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      li {
        flex: 1;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 4px;

          .iconContainer {
            width: 64px;
          }
        }
      }
    }
  }

  body {
    margin-bottom: calc(80px); /* offset the fixed navbar */
    padding: 0;
  }

  .pane {
    padding: 0 16px 16px;
    border-radius: 0;
    background-color: var(--surface);
  }
}

/* medium window size class */
@media (min-width: 600px) and (max-width: 839px) {
  nav {
    /* a left navigation rail */
    background-color: var(--surface-container);
    position: fixed;
    left: 0;
    top: 0;
    width: 80px;
    height: 100vh;
    padding: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex; /* required for centering the ul vertically  */

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
      margin: auto;

      li {
        a {
          height: 56px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 4px;

          .iconContainer {
            width: 56px;
          }
        }
      }
    }
  }

  body {
    margin-left: calc(80px); /* to offset the fixed navigation rail */
  }

  .pane {
    padding: 0 24px 24px;
    background-color: var(--surface);
  }
}

/* styles similar for expanded, large and extra large window size classes  */
@media (min-width: 840px) {
  nav {
    /* a standard navigation drawer */
    background-color: var(--surface-container);
    width: 360px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 24px 12px;

    .headline {
      display: block;
      line-height: 20px;
      font-size: 18px;
      font-weight: 500;
      padding: 16px;
      margin: 0;
      color: var(--primary);
      text-transform: uppercase;
    }

    ul {
      li {
        a {
          /* acts as the active indicator */
          height: 56px;
          width: 336px;
          border-radius: 28px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 12px;
          padding: 0 16px;

          .iconContainer {
            height: 100%;
          }

          span {
            font-size: 14px;
            line-height: 20px;
          }

          &.active {
            background-color: var(--secondary-container);

            span {
              color: var(--on-secondary-container);
            }
          }

          &:is(:hover, :focus) {
            background-color: var(--tertiary-container);
          }
        }
      }
    }
  }

  body {
    margin-left: calc(360px); /* to offset the fixed navigation drawer */
    padding: 24px 24px 24px 0;
    background-color: var(--surface-container);

    .pane {
      padding: 24px;
      border-radius: 15px;
      min-height: calc(100vh - 48px);

      .appBar {
        h1 {
          display: none;
        }
      }

      &.compose {
        min-height: calc(100vh - 48px);
      }
    }
  }
}

/* expanded window size class */
@media (min-width: 840px) and (max-width: 1199px) {
}

/* large window size class */
@media (min-width: 1200px) and (max-width: 1599px) {
}

/* extra large window size class */
@media (min-width: 1600px) {
}
