@import url(./designTokens.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--surface);
  color: var(--on-surface);
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

img {
  max-width: 100%;

  @media (prefers-color-scheme: dark) {
    filter: brightness(0.8) contrast(1.2);
  }
}

svg {
  fill: var(--on-surface);

  .passwordVisibilityIcons & {
    cursor: pointer;

    path {
      pointer-events: none;
    }
  }
}

a {
  color: var(--primary);
}

nav {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(15px);
  padding: 15px 0;
  background-color: var(--surface-container);

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-decoration: none;

      span {
        color: var(--on-surface);
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
  }
}

button {
  font-size: 14px;
  height: 40px;
  border-radius: var(--shape-corner-full);
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--surface-container);
  color: var(--on-surface-variant);
  position: relative;

  /* the state layer */
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0%;
    background-color: var(--on-surface-variant);
    transition: opacity 300ms ease;
  }

  &:has(svg) {
    padding-left: 16px;

    & svg {
      width: 18px;
      fill: var(--on-surface);
    }
  }

  &.elevated {
    background-color: var(--surface-container-low);
    color: var(--primary);
    box-shadow: var(--elevation-level-1);
    transition: box-shadow 300ms ease;

    & svg {
      fill: var(--primary);
    }

    &::after {
      background-color: var(--primary);
    }

    &:hover {
      box-shadow: var(--elevation-level-2);
    }
  }

  &.filled {
    background-color: var(--primary);
    color: var(--on-primary);

    & svg {
      fill: var(--on-primary);
    }

    &::after {
      background-color: var(--on-primary);
    }
  }

  &.filled-tonal {
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    transition: box-shadow 300ms ease;

    & svg {
      fill: var(--on-secondary-container);
    }

    &::after {
      background-color: var(--on-secondary-container);
    }

    &:hover {
      box-shadow: var(--elevation-level-1);
    }
  }

  &.outlined {
    background-color: var(--surface);
    color: var(--primary);
    outline: 1px solid var(--outline);

    & svg {
      fill: var(--primary);
    }

    &::after {
      background-color: var(--primary);
    }
  }

  &.text {
    background-color: transparent;
    color: var(--primary);

    & svg {
      fill: var(--primary);
    }

    &::after {
      background-color: var(--primary);
    }
  }

  &.icon {
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: var(--shape-corner-full);
    background-color: var(--surface-container);

    svg {
      width: 24px;
      fill: var(--primary);
    }
  }

  &:disabled {
    opacity: 38%;
    pointer-events: none;
  }

  &:hover::after {
    opacity: 8%;
  }

  &:focus::after {
    opacity: 10%;
  }

  &:active::after {
    opacity: 10%;
  }

  &[draggable='true'] {
    cursor: grab;

    &:active::after {
      cursor: grabbing;
      opacity: 16%;
    }
  }
}

section {
  padding: 15px;

  h1,
  h2 {
    color: var(--primary);
  }

  &.hero {
    #heroImg2 {
      display: none;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 15px;

      a {
        text-decoration: none;
        color: var(--surface);
      }
    }
  }

  &:is(:nth-of-type(even)) {
    background-color: var(--surface-container);
  }
}

footer {
  background-color: var(--surface-container);
  margin-bottom: 70px;
  padding: 15px;

  svg {
    fill: var(--primary);
  }

  .top {
    a {
      display: flex;
      align-items: center;
      gap: 5px;
      text-decoration: none;
      color: var(--primary);
      display: inline-flex;
    }

    .right {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        + ul {
          margin-top: 10px;
        }

        li {
          + li {
            margin-top: 2px;
          }
        }
      }
    }
  }

  hr {
    height: 2px;
    background-color: var(--on-surface);
    border: 0;
    border-radius: 100px;
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
    }

    p {
      font-weight: 500;
      font-size: 1.5rem;
      color: var(--primary);
    }
  }
}

/* for the signup and signin pages */
main:not(:has(.hero)) {
  padding: 15px;
  min-height: 90vh;

  h1 {
    color: var(--primary);
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 360px;
    margin: 0 auto;

    .formControl {
      display: flex;
      flex-direction: column;
      gap: 2px;

      label {
        display: block;
        color: var(--primary);
        font-weight: 500;
        width: 100%;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px 15px;
        resize: vertical;
        border: none;
        border-bottom: 1px solid var(--primary);
        background-color: var(--surface-container);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        color: inherit;
        resize: vertical;

        &:focus,
        &:active {
          outline: 2px solid var(--outline);
        }
      }

      .error {
        color: var(--error);
        font-size: 0.8rem;
      }

      &:has(.passwordVisibilityIcons) {
        position: relative;

        .passwordVisibilityIcons {
          position: absolute;
          top: 45%;
          right: 5px;

          svg {
            fill: var(--primary);
          }

          &:has(+ .error) {
            top: 35%;
          }
        }
      }
    }

    .imageContainer {
      position: relative;

      img {
        border-radius: 12px;
        height: 100px;
        width: 100%;
        object-fit: cover;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

        .updateProfile & {
          height: 250px;
        }
      }

      button {
        position: absolute;
        top: 10px;
        right: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      }

      label,
      input {
        display: none;
      }
    }

    .error {
      color: var(--error);
      font-size: 14px;
      display: block;
    }

    .guidelines {
      font-size: 12px;
      color: var(--on-surface-variant);
      span {
        display: block;
      }
    }

    button[type='submit'] {
      margin: 5px auto 15px;
      width: 100%;
      display: block;
    }
  }
  .forgotPassword {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 500;
  }
  strong.email {
    color: var(--primary);
  }
}

/*
  This is a mobile first design.

 * 0 - 425px: phone
 * 426px - 768px: tablet
 * 769px - 1440px: desktop
 * 1440px -> : max

  Properties are overwritten under media queries for larger screens.
  
*/

/* tablet designs */
@media (min-width: 426px) {
  section {
    padding: 20px;

    &.hero {
      text-align: center;

      p {
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
      }

      .buttons {
        justify-content: center;
        gap: 10px;
      }

      .images {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        #heroImg2 {
          display: inline;
        }

        img {
          max-width: 40%;
        }
      }
    }
  }

  footer {
    padding: 20px;

    .top {
      margin-bottom: 20px;

      .right {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    }
  }
}

/* desktop designs */
@media (min-width: 769px) {
  nav {
    position: sticky;
    top: 0;
    padding: 15px 0;

    ul {
      gap: 5px;

      a {
        flex-direction: row;
        gap: 5px;
        padding: 10px 15px;
        border-radius: 100px;
        transition: background-color 300ms ease;

        &.active,
        &:hover {
          background-color: var(--primary-container);
        }

        span {
          font-size: 1rem;
        }
      }
    }
  }

  section {
    padding: 40px;
    min-height: 100vh;

    &.hero {
      h1 {
        font-size: 4rem;
      }

      p {
        max-width: 60vw;
      }

      .images {
        img {
          max-width: 30%;
        }
      }
    }
  }

  section:not(.hero) {
    display: flex;
    align-items: center;
    gap: 10px;

    > * {
      flex: 1;
    }

    &:is(:nth-of-type(odd)) {
      flex-direction: row-reverse;
    }

    h2 {
      font-size: 3rem;
    }
  }

  footer {
    padding: 40px;
    margin-bottom: 0;
    padding-bottom: 50px;

    .top {
      display: flex;
      justify-content: space-between;

      .left {
        flex: 1;
      }
      .right {
        flex: 2;

        ul {
          li + li {
            margin-top: 5px;
          }
        }
      }
    }
  }
}

/* max designs */
@media (min-width: 1441px) {
  body {
    max-width: 1600px;
    margin: auto;
  }
}
