extends layout

block content
  section.hero 
    h1 Connect. Chat. Club.
    p Welcome to Clubcord, your one-stop shop for connecting with people who share your passions! Whether you're into gaming, music, book clubs, or just meeting new friends, Clubcord makes it easy to find your tribe and build meaningful connections.
    .buttons 
      a(href="/signup"): button Sign Up
      a(href="/signin"): button Sign In

  section
    h2 Join a Vibrant community.
    p Explore thousands of clubs dedicated to every interest imaginable. Find your people and delve into your passions, from discussing the latest astrological phenomenon to perfecting the art of sourdough bread.

  section
    h2 Spark conversations.
    p Chat with like-minded individuals and forge lasting friendships.

  section
    h2 Never miss a beat.
    p Stay up-to-date on club events and announcements with instant notifications.

  section
    h2 Express yourself.
    p Share your thoughts, ideas, and experiences in a safe and supportive environment.
