extends layout

block content
  - const newPasswordError = errors && errors.find(item => item.path === 'newPassword')
  - const passwordConfirmError = errors && errors.find(item => item.path === 'passwordConfirm')

  h1 Set new password

  form(action="/password/forgot/newpassword", method="post")
      .formControl
        label(for="newPassword") New Password*:
        input#newPassword(type="password", name="newPassword", value=newPassword ? newPassword : '')
        if newPasswordError
          span.error= newPasswordError.msg

      .formControl
        label(for="passwordConfirm") Confirm New Password*:
        input#passwordConfirm(type="password", name="passwordConfirm", value=passwordConfirm ? passwordConfirm : '')
        if passwordConfirmError
          span.error= passwordConfirmError.msg
      
      button(type="submit") Submit