extends layout

block content
  - const newPasswordError = errors && errors.find(item => item.path === 'newPassword')
  - const passwordConfirmError = errors && errors.find(item => item.path === 'passwordConfirm')

  h1 Set new password

  form(action="/password/forgot/newpassword", method="post")
    +passwordFormControl('newPassword', 'New Password', 'newPassword', newPassword, newPasswordError)

    +passwordFormControl('passwordConfirm', 'Confirm New Password', 'passwordConfirm', passwordConfirm, passwordConfirmError)
    
    button.filled(type="submit") Submit
  
  script(src="/javascripts/passwordToggle.js", defer) 
