extends layout

block content
  - const emailError = errors && errors.find(item => item.path === 'email')

  h1 Forgot your password?


  form(action="/password/forgot/email", method="post") 
    p No worries. Let's get you back into your account. First enter your registered account's email.
    
    .formControl
      label(for="email") Email:
      input#email(type="email", name="email", value = email ? email : '', autocomplete="on")
      if emailError
        span.error= emailError.msg

    button.filled(type="submit") Submit