extends layout

block content
  - const secretError = errors && errors.find(item => item.path === 'secret')

  h1 Enter email secret
 
  if error
    p The code you've entered was incorrect. Please enter the password reset code again. It is a 6 digit aplhanumeric text.
  else
    p A password reset code has been sent to #[strong.email= email]. Enter that code here. Please don't share that code with anyone.

  form(action="/password/forgot/code", method="post") 
    .formControl
      label(for="secret") Secret code:
      input#secret(type="text", placeholder="a 6 digit alphanumeric string", name="secret", value=secret ? secret : '')
      if secretError
        span.error= secretError.msg

    button(type="submit") Submit 