extends layout

block content
  - const usernameError = errors && errors.find(item => item.path === 'username')
  - const pwdError = errors && errors.find(item => item.path === 'password')

  h1 Sign In

  form(action="", method="post")

    .formControl 
      label(for="username") Username: 
      input#username(type="text", name="username", placeholder="johndoe", value=username || '', autocomplete="on")
      if usernameError
        span.error= usernameError.msg

    +passwordFormControl('password', 'Password', 'password', password, pwdError)

    button.filled(type="submit") Submit

  a.forgotPassword(href="/password/forgot") Forgot password?

  script(src="/javascripts/passwordToggle.js", defer) 
